@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #0f172a;
  background-color: #f8fafc;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f8fafc;
}

a {
  text-decoration: none;
}
